.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  padding: 5px 10px;
  background: #92c1ef;
  border: 1px solid #92c1ef;
  position: relative;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  float: left;
  margin-top: 20px;
  font-size: 20px;
}

.input-container:hover {
  background: #499bee;
  cursor: pointer;
}

.upload-button {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}

.image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rotate-degrees {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.input-degrees {
  background-color: #FFFFFF;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
